body, html {
	background-color:#FFFFFF;
	height:100%;
	margin:0;
}
td {
	font-size:50px;
	font-family:Times;
	color:#CC48FA;
	text-align:center;
	margin:auto;
	height:100px;
	width:300px;
}
table {
	margin:auto;
	border-style:solid;
	border-width:3px;
	height:500px;
	width:1500px;
}
a{
	text-decoration:none;
}
a:hover {
	color:#F92B06;
	font-size:52px;
	font-weight:bold;
}

body, html {
	height: 100%;
}

#social {
	position: relative;
	top:0px;
    left:0px;
    border:0;
}

#social img {
	float: left;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
    height:40px;
    width:40px;
}

.parallax {
	/* The image used */
	background-image: url('download.jpeg');

	/* Full height */
	height: 100%; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
		
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

